/* Set defaults for the whole system.
 */
body {
	background-color: #d3d3d3;
    font-family: 'Halant', Palatino, Book Antiqua, serif;
    color: #333;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', Georgia, serif;
}
h1 {
    font-weight: 400;
}
h2, h3, h4, h5, h6 {
    font-weight: bold;
}
a {
	color: #ab983d;
	text-decoration: none;
}

a:visited {
	color: #ab983d;
	text-decoration: none;
}

a:hover {
	color: #696969;
}
img {
    max-width: 100%;
}

/* Lists and Definitions */
ul, ol, dl {
    max-width: 50rem;
    text-align: left;
    margin: 0.25em auto;
}
ul li {
    list-style-position: inside;
    list-style: disc;
    padding-left: 0.25em;
}
ol li {
    list-style-position: inside;
    list-style: decimal;
    padding-left: 0.25em;
}
dl dt {
    color: #303030;
}

/* tables */
table {
    width: 100%;
    border: 1px solid #ebebeb;
}
th {
    font-weight: 500
}
td {
    font-weight: 300;
    text-align: center;
    border: 1px solid #ebebeb;
}

/* Other */
hr {
    height: 1px;
    padding-bottom: 1em;
    margin-top: 1em;
    line-height: 1px;
    background: transparent url("/assets/img/hr.png") top center no-repeat;
    border: none;
}
form {
    padding: 1em;
    background: #f2f2f2;
}
blockquote {
    max-width: 50rem;
    text-align: left;
    margin: 1em auto;
    padding: 0.5rem;
    background-color: #bababa;
    border-left: 0.4rem solid #888; 
}
blockquote p:first-child {
    margin-top: 0
}
blockquote p:last-child {
    margin-bottom: 0;
}
details {
    & > summary {
        margin-left: 0;
    }
    & > summary + * {
        margin-top: 0;
    }
    & > * {
        margin-left: 1rem;
    }
}