i, time {
    font-style: inherit;
    font-weight: 900;
    display: inline-block;

    &::before {
        content: '\00a0'; // non-breaking space
        display: inline-block;
        margin: -0.2em 0.15em 0.1em 0em;
        vertical-align: middle;
        width: 1.1em;
        height: 1.1em;
        background-size: 100% 100%;
        opacity: .5;
        transition: all .25s;
    }

    &:empty {
        display: inline-block;
        vertical-align: top;
        margin-top: -0.15em;
        font-size: 1.2em;
        max-width: 1.185em;
        overflow: hidden;
        white-space: nowrap;
    }

    &[fb]::before { background-image: url('/assets/img/i/brand/facebook.svg'); }
    &[igg]::before { background-image: url('/assets/img/i/brand/indiegogo.svg'); }
    &[itchio]::before { background-image: url('/assets/img/i/brand/itch-io.svg'); }
    &[gh]::before { background-image: url('/assets/img/i/brand/github.svg'); }
    &[gram]::before { background-image: url('/assets/img/i/brand/instagram.svg'); }
    &[masto]::before {background-image: url('/assets/img/i/brand/mastodon.svg'); }
    &[patreon]::before { background-image: url('/assets/img/i/brand/patreon.svg'); }
    &[spotify]::before { background-image: url('/assets/img/i/brand/spotify.svg'); }
    &[tumblr]::before { background-image: url('/assets/img/i/brand/tumblr.svg'); }
    &[twitch]::before { background-image: url('/assets/img/i/brand/twitch.svg'); }
    &[twitter]::before { background-image: url('/assets/img/i/brand/twitter.svg'); }
    &[wp]::before { background-image: url('/assets/img/i/brand/wordpress.svg'); }
    &[yt]::before { background-image: url('/assets/img/i/brand/youtube.svg'); }

    // We don't use an actual BPT logo because their logos aren't usable as a flat square icon at small sizes.
    &[bpt], &[ticket] { &::before { background-image: url('/assets/img/i/ticket.svg'); } }
    // We also use a simple upside-down 5-pointed star graphic of Nebula's logo because theirs isn't a flat icon.
    &[nebula]::before { background-image: url('/assets/img/i/brand/nebula.svg'); }
    &[backstage]::before { background-image: url('/assets/img/i/brand/backstage.svg'); }
    &[linktree]::before { background-image: url('/assets/img/i/brand/linktree.svg'); }
    &[carrd]::before { background-image: url('/assets/img/i/brand/carrd.svg'); }
    &[linkedin]::before { background-image: url('/assets/img/i/brand/linkedin.svg'); }

    &[public]::before { background-image: url('/assets/img/i/brand/public.svg'); }
    &[cc]::before { background-image: url('/assets/img/i/brand/cc.svg'); }
    &[cal]::before { background-image: url('/assets/img/i/cal.svg'); }
    &[email]::before { background-image: url('/assets/img/i/email.svg'); }
    &[ext]::before { background-image: url('/assets/img/i/ext.svg'); }
    &[info]::before { background-image: url('/assets/img/i/info.svg'); }
    &[news]::before { background-image: url('/assets/img/i/newsletter.svg'); }
    &[pod]::before { background-image: url('/assets/img/i/podcast.svg'); }
    &[warn]::before { background-image: url('/assets/img/i/warn.svg'); }
}
a i::before { background-image: url('/assets/img/i/ext.svg'); }
time::before { background-image: url('/assets/img/i/cal.svg'); }

a i:hover { opacity: .8; }
