
main {
    margin: 2em auto;
    padding: 0;
    max-width: 1000px;
    width: 80%;
    min-width: 750px;
    text-align: center;
}


header {
    background-color: #000;
    min-width: 750px;

    .banner {
        margin: 0 auto;
        max-width: 1400px;
        background: url('/assets/img/banner.png') no-repeat top center ;
        background-size: cover;
        background-position: 32% 48%;
        overflow: hidden;
        padding-top: 300px;
    }

    nav {
        background-color: #333;
        padding: 0;

        ul {
            display: table;
            margin: 0 auto;
            padding: 10px;
            background-color: #333;
            list-style-type: none;
            list-style: none;
            overflow: hidden;
        }

        li {
            display: inline;
            float: left;
        }

        li a {
            display: block;
            color: #fff;
            text-align: center;
            padding: 14px 25px;
            text-decoration: none;
            font-family: 'Cinzel', serif;
        }
        li a:visited {
            color: #fff;
        }
        /* Change the link color to #111 (black) on hover */
        li a:hover {
            background-color: #111;
            color: #fff;
        }
    }
}


footer {
    margin: 1em auto;
    padding: 1em;
    width: 700px;
    background:transparent url("/assets/img/hr.png") 0 0 no-repeat;
    text-align: center;

    a.social {
        display: inline-block;
        text-indent: -9999px;
        margin-left: 5px;
        width: 30px;
        height: 30px;
        background-size: 30px 30px;
        opacity: .5;
        transition: all .25s;
    }

    a.facebook {
        background-image: url('/assets/img/social-facebook.png');
    }

    a.youtube {
        background-image: url('/assets/img/social-youtube.png');
    }

}
