
body {
    min-width: 33.33rem;
    margin: 0 auto;
}
@media only screen and (max-width: 541px) {
    html {
        font-size: 12px;
    }
    body {
        width: 100%;
        min-width: 20rem;
    }
    header nav ul li a {
        padding: .75rem .33rem;
    }
}
@media only screen and (max-width: 400px) {
    header nav ul li a {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 300px) {
    header nav ul li a {
        padding: .5rem .2rem;
        font-size: 1rem;
    }
}

main {
    margin: 2rem auto;
    padding: 0;
    width: 80%;
    max-width: 60rem;
    text-align: center;

    img {
        max-width: min(100%, 650px);
    }
}

.video-box {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

header {
    background-color: #000;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;

    .banner {
        max-width: 100rem;
        margin: 0 auto;
        background: url('/assets/img/banner.png') no-repeat 32% 48%;
        background-size: cover;
        overflow: hidden;
        height: 18.75rem;
    }

    nav {
        background-color: #333;
        padding: 0;
        font-size: 1.2rem;
        margin-left: -4rem;
        margin-right: -4rem;

        ul {
            display: table;
            margin: 0 auto;
            padding: 0.67rem;
            background-color: #333;
            list-style-type: none;
            list-style: none;
            overflow: hidden;
        }

        li {
            display: inline;
            float: left;
        }

        li a {
            display: block;
            color: #fff;
            text-align: center;
            padding: .75rem 1.25rem;
            text-decoration: none;
            font-family: 'Cinzel', serif;
        }
        li a:visited {
            color: #fff;
        }
        /* Change the link color to #111 (black) on hover */
        li a:hover {
            background-color: #111;
            color: #fff;
        }
    }
}

footer {
    margin: 1rem auto;
    padding: 1rem;
    width: 80%;
    background:transparent url("/assets/img/hr.png") top center no-repeat;
    text-align: center;

    a > i {
        &::before {
            margin: 0.25rem;
            padding: 0;
            width: 3rem;
            height: 3rem;
        }

        &:hover {
            opacity: .8;
        }
    }
}

a:hover {
    .social {
        opacity: .8
    }
}

a {
    display: inline-block;
    break-inside: avoid;
}

a > i {
    font-style: inherit;
    font-weight: 900;

    &::before {
        content: '\00a0'; // non-breaking space
        display: inline-block;
        margin: -0.2em 0.05em 0.1em 0em;
        vertical-align: middle;
        width: 1.1em;
        height: 1.1em;
        background-size: 100% 100%;
        opacity: .5;
        transition: all .25s;
    }

    &[fb]::before { background-image: url('/assets/img/social/facebook.svg'); }
    &[igogo]::before { background-image: url('/assets/img/social/indiegogo.svg'); }
    &[itchio]::before { background-image: url('/assets/img/social/itch-io.svg'); }
    &[gram]::before { background-image: url('/assets/img/social/instagram.svg'); }
    &[patreon]::before { background-image: url('/assets/img/social/patreon.svg'); }
    &[spotify]::before { background-image: url('/assets/img/social/spotify.svg'); }
    &[tumblr]::before { background-image: url('/assets/img/social/tumblr.svg'); }
    &[twitch]::before { background-image: url('/assets/img/social/twitch.svg'); }
    &[twitter]::before { background-image: url('/assets/img/social/twitter.svg'); }
    &[wp]::before { background-image: url('/assets/img/social/wordpress.svg');}
    &[yt]::before { background-image: url('/assets/img/social/youtube.svg'); }

    &[cc]::before { background-image: url('/assets/img/social/cc.svg'); }
    &[ext]::before { background-image: url('/assets/img/social/ext.svg'); }

    &[email]::before { background-image: url('/assets/img/social/email.svg'); }
    &[news]::before { background-image: url('/assets/img/social/newsletter.svg'); }
    &[pod]::before { background-image: url('/assets/img/social/podcast.svg'); }
}
