
body {
    min-width: 33.33rem;
    margin: 0 auto;
}
@media only screen and (max-width: 541px) {
    html {
        font-size: 12px;
    }
    body {
        width: 100%;
        min-width: 20rem;
    }
    header nav ul li a {
        padding: .75rem .33rem;
    }
}
@media only screen and (max-width: 400px) {
    header nav ul li a {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 300px) {
    header nav ul li a {
        padding: .5rem .2rem;
        font-size: 1rem;
    }
}

main {
    margin: 2rem auto;
    padding: 0;
    width: 80%;
    max-width: 60rem;
    text-align: center;

    img {
        max-width: min(100%, 650px);
    }
}

.video-box {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

header {
    background-color: #000;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;

    .banner {
        max-width: 100rem;
        margin: 0 auto;
        background: url('/assets/img/banner.png') no-repeat 32% 48%;
        background-size: cover;
        overflow: hidden;
        height: 18.75rem;
    }

    nav {
        background-color: #333;
        padding: 0;
        font-size: 1.2rem;
        margin-left: -4rem;
        margin-right: -4rem;

        ul {
            display: table;
            margin: 0 auto;
            padding: 0.67rem;
            background-color: #333;
            list-style-type: none;
            list-style: none;
            overflow: hidden;
        }

        li {
            display: inline;
            float: left;
        }

        li a {
            display: block;
            color: #fff;
            text-align: center;
            padding: .75rem 1.25rem;
            text-decoration: none;
            font-family: 'Cinzel', serif;
        }
        li a:visited {
            color: #fff;
        }
        /* Change the link color to #111 (black) on hover */
        li a:hover {
            background-color: #111;
            color: #fff;
        }
    }
}

footer {
    margin: 1rem auto;
    padding: 1rem;
    width: 80%;
    background:transparent url("/assets/img/hr.png") top center no-repeat;
    text-align: center;

    a > i {
        font-size: 3rem;
        max-width: 3.25rem !important;

        &::before {
            margin: 0.25rem;
            padding: 0;
            width: 3rem;
            height: 3rem;
        }
    }
}

a:hover {
    .social {
        opacity: .8
    }
}

a {
    display: inline-block;
    break-inside: avoid;

    i:hover {
        opacity: .8;
    }
}

i, time {
    font-style: inherit;
    font-weight: 900;
    display: inline-block;

    &::before {
        content: '\00a0'; // non-breaking space
        display: inline-block;
        margin: -0.2em 0.15em 0.1em 0em;
        vertical-align: middle;
        width: 1.1em;
        height: 1.1em;
        background-size: 100% 100%;
        opacity: .5;
        transition: all .25s;
    }

    &[icononly] {
        display: inline-block;
        vertical-align: top;
        margin-top: -0.15em;
        font-size: 1.2em;
        max-width: 1.185em;
        overflow: hidden;
        white-space: nowrap;
    }

    &[fb]::before { background-image: url('/assets/img/i/brand/facebook.svg'); }
    &[igg]::before { background-image: url('/assets/img/i/brand/indiegogo.svg'); }
    &[itchio]::before { background-image: url('/assets/img/i/brand/itch-io.svg'); }
    &[gh]::before { background-image: url('/assets/img/i/brand/github.svg'); }
    &[gram]::before { background-image: url('/assets/img/i/brand/instagram.svg'); }
    &[masto]::before {background-image: url('/assets/img/i/brand/mastodon.svg'); }
    &[patreon]::before { background-image: url('/assets/img/i/brand/patreon.svg'); }
    &[spotify]::before { background-image: url('/assets/img/i/brand/spotify.svg'); }
    &[tumblr]::before { background-image: url('/assets/img/i/brand/tumblr.svg'); }
    &[twitch]::before { background-image: url('/assets/img/i/brand/twitch.svg'); }
    &[twitter]::before { background-image: url('/assets/img/i/brand/twitter.svg'); }
    &[wp]::before { background-image: url('/assets/img/i/brand/wordpress.svg'); }
    &[yt]::before { background-image: url('/assets/img/i/brand/youtube.svg'); }

    // We don't use an actual BPT logo because their logos aren't usable as a flat square icon at small sizes.
    &[bpt], &[ticket] { &::before { background-image: url('/assets/img/i/ticket.svg'); } }
    // We also use a simple upside-down 5-pointed star graphic of Nebula's logo because theirs isn't a flat icon.
    &[nebula]::before { background-image: url('/assets/img/i/brand/nebula.svg'); }
    &[backstage]::before { background-image: url('/assets/img/i/brand/backstage.svg'); }
    &[linktree]::before { background-image: url('/assets/img/i/brand/linktree.svg'); }
    &[carrd]::before { background-image: url('/assets/img/i/brand/carrd.svg'); }
    &[linkedin]::before { background-image: url('/assets/img/i/brand/linkedin.svg'); }

    &[public]::before { background-image: url('/assets/img/i/brand/public.svg'); }
    &[cc]::before { background-image: url('/assets/img/i/brand/cc.svg'); }
    &[cal]::before { background-image: url('/assets/img/i/cal.svg'); }
    &[email]::before { background-image: url('/assets/img/i/email.svg'); }
    &[ext]::before { background-image: url('/assets/img/i/ext.svg'); }
    &[info]::before { background-image: url('/assets/img/i/info.svg'); }
    &[news]::before { background-image: url('/assets/img/i/newsletter.svg'); }
    &[pod]::before { background-image: url('/assets/img/i/podcast.svg'); }
    &[warn]::before { background-image: url('/assets/img/i/warn.svg'); }
}
i::before { background-image: url('/assets/img/i/ext.svg'); }
time::before { background-image: url('/assets/img/i/cal.svg'); }

aside, form {
    font-size: 0.9em;
    font-style: inherit;
    display: inline-block;
    max-width: 80%;
    padding: .5em 1em;
    box-sizing: content-box;
    border-radius: 0.25em;
    text-align: left;
    border: 1px solid #bbb;
    background-color: rgba(256,256,256,0.25);

    &[focus], &[warn] { background-color: rgba(255,249,178,0.25); }

    p {
        margin: 0.25rem 0;
    }

    h3, h4, h5, h6 {
        font-size: 1.25em;
        font-family: inherit;
        font-weight: 900;
        font-variant: inherit;
        margin: 0.25rem 0;
    }
}
