@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Halant:ital,wght@0,400;0,700;1,400;1,700family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html {
    font-family: 'Halant', Palatino, Book Antiqua, serif;
}
header, h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', Georgia, serif;
    font-variant: small-caps;
}

.lg, *[lg], em[biggen] {
    font-size: large;
    font-weight: bold;
    color: #444;
}

q {
    &::before { content: open-quote; }
    &::after { content: close-quote; }

    &[bare]{
        &::before { content: ''; }
        &::after { content: ''; }
    }
}
code, tt {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 0.9em;
}
