html {
    font-family: 'Halant', Palatino, Book Antiqua, serif;
}
header, h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', Georgia, serif;
    font-variant: small-caps;
}

.lg, *[lg], em[biggen] {
    font-size: large;
    font-weight: bold;
    color: #444;
}

q {
    &::before { content: open-quote; }
    &::after { content: close-quote; }

    &[bare]{
        &::before { content: ''; }
        &::after { content: ''; }
    }
}
small {
    font-size: 0.7em;
    line-height: 0.7em;
}
code, tt {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 0.9em;
}
