@import url('https://fonts.googleapis.com/css2?family=Junge&display=swap');

h2 {
    font-family: 'Junge', serif;
    font-variant: small-caps;
    font-style: italic;
}

.inner {
    padding: 16px 0;
    width: 540px;
    text-align: center;
}